.well.profile-description {
    color: #fff;
    background-color: #777777;
    border-color: #777777;
    h3 {
        margin-top: 0;
    }
}

.well.user-info {
    
    h3 {
        margin-top: 0;
    }
}

.avatar {
    border-radius: 50%;
  -webkit-box-shadow: 5px 9px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 9px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 9px 5px 0px rgba(50, 50, 50, 0.75);
  border: 2px solid;
}